#mydiv {
  color: red;
}

#mydiv:hover {
  background-color: blue;
}

#mydiv .mysecond {
  color: yellow;
}

[data-myattr="div"] {
  color: blue;
}

#inlined {
  color: blue;
}

#inlined {
  background-color: rgb(10,10,10);
}
#inlined {
  background-color: rgb(100,100,100);
}
